
# backend
/backend/node_modules
/backend/.env
/backend/.gitignore

# newfrontend
# dependencies
/newfrontend/node_modules
/newfrontend/.pnp
/newfrontend/.pnp.js

# testing
/newfrontend/coverage

# production
/newfrontend/build

# misc
/newfrontend/.DS_Store
/newfrontend/.env.local
/newfrontend/.env.development.local
/newfrontend/.env.test.local
/newfrontend/.env.production.local

/newfrontend/npm-debug.log*
/newfrontend/yarn-debug.log*
/newfrontend/yarn-error.log*